@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Styles */
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #100e0f;
}


li {
  display: inline;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
}

li a:hover {
  border-bottom: 2px solid #deab5f;
}
.sidebar a{
  height: 50px;
    padding: 0 30px;
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    border-radius: 10px;
}

.header {
  background: url("https://images.unsplash.com/photo-1512568400610-62da28bc8a13?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
  animation-iteration-count: var(--main-color);
  animation-duration: 2s;
  animation-timing-function: 1;
  width: 100%;
}
.main-headings:hover{

  color:rgb(184, 109, 11);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.primary-headings:hover{
  position: absolute;
  color:rgb(184, 109, 11);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
  position: sticky;
}



.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  transform: translateY(60px);
}

#our-story {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
  background: url("https://github.com/HuXn-WebDev/HTML-CSS-JavaScript-100-Projects/blob/main/92.%20Coffee/Images/pexels-chitokan-2183027-removebg-preview.png?raw=true");
  background-position: center;
  background-size: cover;
}

.title-style {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Playfair Display SC", serif;
  font-size: 4rem;
  color: #fff;
  transform: translateX(-100px);

  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}

.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;

  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.coffee-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;

  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.content-section p {
  max-width: 500px;
}

.img-container {
  width: 500px;
  height: 400px;
}

.img-2 {
  width: 400px;
  height: 400px;
}

.title-two {
  font-size: 3rem;
  color: #fff;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
}

.content-section p {
  color: white;
  margin-top: 20px;
  font-family: sans-serif;
}

.products {
  margin-top: 5rem;
}

.title-three {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.card {
  border: 2px solid #deab5f;
  padding: 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
}

.card-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
}

.img-one {
  background: url("https://github.com/HuXn-WebDev/HTML-CSS-JavaScript-100-Projects/blob/main/92.%20Coffee/Images/1.png?raw=true");
  background-position: center;
  background-size: cover;
}
.img-two {
  background: url("https://github.com/HuXn-WebDev/HTML-CSS-JavaScript-100-Projects/blob/main/92.%20Coffee/Images/2.png?raw=true");
  background-position: center;
  background-size: cover;
}
.img-three {
  background: url("https://github.com/HuXn-WebDev/HTML-CSS-JavaScript-100-Projects/blob/main/92.%20Coffee/Images/3.png?raw=true");
  background-position: center;
  background-size: cover;
}

.card-title {
  color: #fff;
  font-family: sans-serif;
  margin-top: 50px;
}

.card .items p {
  color: #fff;
  margin: 20px 0;
  font-family: sans-serif;
}

/* footer */
footer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: #deab5f;
}

hr {
  margin-bottom: 20px;
  border-color: #deab5f;
  width: 500px;
  margin: 0 auto;
}

.para {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .main-headings,
  .primary-heading {
    font-size: 2.5rem;
  }

  #our-story {
    text-align: center;
  }

  #our-story .title {
    transform: translateX(50px);
  }

  #our-story .line {
    display: none;
  }

  .content-section {
    text-align: center;
  }

  #our-story .img-container .img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .coffee-container .img-container {
    margin-top: 5rem;
    width: 50%;
  }

  hr {
    width: 400px;
  }

  .hr-two {
    display: none;
  }

  .para {
    margin-top: 10rem;
  }
}
  /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { 
  .header{
    background: url('https://images.unsplash.com/photo-1512568400610-62da28bc8a13?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* max-width: 110vh; */
    /* height: auto; Maintain aspect ratio */
    background-size:cover; /* This will ensure that the image covers the whole page */
     /* background-position: center; This centers the background image */
    height: 100vh;
    width: 13300vh;
    font-family: "Playfair Display","Helvetica Neue",Helvetica,Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   max-width: 100%;

  
  
   
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
  .para{
    position: absolute;
    display: flex;
    justify-content: end;
    top: 242rem;
  }
  .main-headings{
    position:absolute;
    top:7rem;
    font-size: 4rem;
    word-spacing: 10px;
text-align: center;
  /* hi-res laptops and desktops */ }
  .primary-headings{
    position: absolute;
    bottom: 8rem;
    word-spacing: 10px;
    margin-bottom: -5px;
   
  }
  .and-headings{
    bottom: 18.5rem;
    position: absolute;
    font-size: 4rem;
  /* big landscape tablets, laptops, and desktops */ }
}
@media (min-width:1281px) { 
  .para{
    position: absolute;
    display: flex;
    justify-content: end;
    top: 264rem;
  }
  .main-headings{
    position:absolute;
    top:7rem;
    font-size: 4rem;
    word-spacing: 10px;
text-align: center;
  /* hi-res laptops and desktops */ }

}



nav{
  background-color: transparent;
  box-shadow:3px 3px 3px rgba(0,0,0,0.1);
  
}

nav ul{
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}





nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color:rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  z-index: 999;
  box-shadow: 10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}
svg{
  fill:bisque;
}

@media (max-width: 800px) {
  .hideonMobile{
      display: none;
  }
  .menu-button{
      display: none;
  }
  
}
@media(max-width:400px) {
  .sidebar{
      width: 100%;
  }
  .menu-button{
    display: flex;
}

}
